{% extends 'index.html' %}
{% load static %}
{% block content %}
    <style>
        #smiley-circle {
            width: 60%;
            height: 30%;
            border-radius: 50%;
            justify-content: center;
            text-align: center;
            margin: auto;
            display: flex;
            background-image: url({% static 'images/SmileyFace01.svg' %});
            background-size: cover;
            animation: spin 5s linear infinite;
        }

        @keyframes spin {
            100% {
                transform: rotate(360deg);
            }
        }

    </style>
    <section class="featured-articles-section-dark">
        <div class="wrapper">
            <h7>So Why Did I Make This Website?</h7>
            <div class="cards-container-slim">
                <div class="article-card article-card-alt card-large">
                    <div class="article-card-content">
                    <h6 style="margin-top: 12%;
                        margin-right: auto;
                        margin-bottom: 12%;
                        width: 90%;
                        margin-left: auto;
                        line-height: 1.8;">
                        While this is mainly a front-end site and I am more skilled on the back-end, I always wanted
                        a personal site, so here we are! In December 2022 I finished a dual degree program with an
                        MBA and an MS in Management Information Systems. I am currently in the job market. My core
                        experience is in Python, SQL, SAS, and Excel. I love to learn, regardless of which subject is at hand.
                        As soon as you think you know everything, you know nothing. </h6>
                    </div>

                </div>
                <div class="article-card article-card-alt card-small" onclick='location.href="{% url 'interests' %}";'>
                    <div class="article-card-content">

                        <h4>Personal Interests</h4>
                        <p>Informal</p>
                    </div>
                </div>
                <div class="article-card article-card-alt card-small">
                    <div class="article-card-content">
                        <p>
                        <img id="smiley-circle" style=" max-width: 60%; max-height: 60%;" src="{% static 'images/SmileyFace01.svg' %}" alt="">
                        </p>
                    </div>
                </div>

                <br class="clear"/>
            </div>
        </div>
    </section>
    <br class="clear"/>
    <script>
        const circle = document.getElementById('smiley-circle');

        setInterval(function () {
            circle.style.animation = `spin ${100 / 20}s linear infinite`;
        }, 1000);


    </script>
{% endblock %}
{% block y %}
    <div id="container">
        <canvas id="canvas"></canvas>
        <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script src="{% static 'js/3d_script.js' %}"></script>
    </div>
{% endblock %}