{% extends 'index.html' %}
{% load static %}
{% block content %}

<section style="height: 750px;" id="banner">
    <div style="margin-top: 100px;" class="wrapper">
        <div class="banner-content">
            <h2>Welcome to My Site</h2>
            <p style="color: rgb(255, 189, 0)">Omaha, Nebraska based </p>
            <img src="{% static 'images/image.jpg' %}" alt="" style="max-width: 100%; max-height: 360px;">
        </div>
    </div>
</section>

<div class="clear"></div>
{% endblock %}
