<!doctype html>
{% load static %}
<html lang="en">
<head>
    <title>Online Tools for the Weary</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <script src="{% static 'js/main.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/breakpoints.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/browser.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/jquery.dropotron.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/jquery.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/main.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/util.js' %}" type="text/javascript" charset="utf-8"></script>


</head>
<body class="is-preload homepage">
<div id="page-wrapper">


    <div id="header-wrapper">
        <header id="header" class="container">

            <!-- Logo -->
            <div id="logo">
                <h1><a href={% url 'home' %}>Back to Resume Site</a></h1>
            </div>

            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <!--<li class="current"><a href="{% url 'tools_home' %}">Welcome</a></li>-->
                    <!--
                    <li>
                        <a class="dropotron" href="#">Dropdown</a>
                        <ul>
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Magna phasellus</a></li>
                            <li>
                                <a href="#">Phasellus consequat</a>
                                <ul>
                                    <li><a href="#">Lorem ipsum dolor</a></li>
                                    <li><a href="#">Phasellus consequat</a></li>
                                    <li><a href="#">Magna phasellus</a></li>
                                    <li><a href="#">Etiam dolore nisl</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    -->
                    <li class="current"><a href="{% url 'tools_home' %}">Home</a></li>
                    <li class="current"><a href="{% url 'tools' %}">Tools</a></li>
                    <li class="current"><a href="{% url 'calculators' %}">Calculators</a></li>

                </ul>
            </nav>

        </header>
    </div>

    {% block content %}
    {% endblock %}
    <!-- Footer -->
    <div id="footer-wrapper">
        <footer id="footer" class="container">
            <div class="row">
                <div class="col-3 col-6-medium col-12-small">

                    <!-- Links -->
                    <section class="widget links">
                        <h3>Do You Ever Feel</h3>
                        <ul class="style2">
                            <li><a href="#">Like a plastic bag?</a></li>
                            <li><a href="#">Drifting through the wind?</a></li>
                            <li><a href="#">Wanting to start again?</a></li>
                            <li><a href="#">Do you ever feel? Feel so paper thin.</a></li>
                        </ul>
                    </section>

                </div>
                <div class="col-3 col-6-medium col-12-small">

                    <!-- Links -->
                    <section class="widget links">
                        <h3>A storm is threatening</h3>
                        <ul class="style2">
                            <li><a href="#">My very life today</a></li>
                            <li><a href="#">If I don't get some shelter</a></li>
                            <li><a href="#">Ooh yeah I'm gonna fade away</a></li>
                            <li><a href="#">War, children</a></li>
                            <li><a href="#">It's just a shot away</a></li>
                        </ul>
                    </section>

                </div>
                <div class="col-3 col-6-medium col-12-small">

                    <!-- Links -->
                    <section class="widget links">
                        <h3>The Midnight Jelqer</h3>
                        <ul class="style2">
                            <li><a href="#">Knights is his name</a></li>
                            <li><a href="#">He's got to run to keep from hidin</a></li>
                            <li><a href="#">He's bound to keep on jelqin</a></li>
                            <li><a href="#">He's not gonna let em catch the</a></li>
                            <li><a href="#">Midnight jelqer</a></li>
                        </ul>
                    </section>

                </div>
                <div class="col-3 col-6-medium col-12-small">

                    <!-- Contact -->
                    <section class="widget contact last">
                        <h3>Contact Me</h3>
                        <ul>
                            <li>
                                <img style="max-width: 80%; border-radius: 25px;" class="image" src="{% static 'images/banana.jpg' %}" alt=""/>
                            </li>
                        </ul>
                        <p>123 S 123rd Street<br/>
                            Omaha, NE 68105<br/>
                            (123) 456-7890</p>
                    </section>


                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div id="copyright">
                        <ul class="menu">
                            <li>Press Industries LLC</li>
                            <li>No rights reserved</li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
</body>
</html>