{% extends 'main.html' %}
{% load static %}
{% block content %}

    <div id="features-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-4 col-12-medium">
                    <section class="box feature">
                        <a href="{% url 'line' %}" class="image featured"><img src="{% static 'images/line.png' %}"
                                                                               alt=""/></a>
                        <div class="inner">
                            <header>
                                <h2>Single Line Text Converter</h2>
                                <p></p>
                            </header>
                            <p>Do you have an employer that uses outdated technology, so you have to use a command line
                                interface to query and insert complex commands, or maybe you just have ill formatted
                                text? Paste in your multi-line query, command, or text and whammo there ya go.</p>
                        </div>
                    </section>

                </div>
                <div class="col-4 col-12-medium">

                    <section class="box feature">
                        <a href="{% url 'ipaddress' %}" class="image featured"><img
                                src="{% static 'images/ipaddress.png' %}" alt=""/></a>
                        <div class="inner">
                            <header>
                                <h2>Find Your IP Address</h2>
                            </header>
                            <p>Find out your IP address, state, country, browser, and which device you are using. </p>

                        </div>
                    </section>

                </div>
                <div class="col-4 col-12-medium">
                    <section class="box feature">
                        <a href="{% url 'grim' %}" class="image featured"><img src="{% static 'images/grim.png' %}" alt=""/></a>
                        <div class="inner">
                            <header>
                                <h2>Find Out When You'll Go</h2>
                                <p>Death Countdown</p>
                            </header>
                            <p>Ever wondered when your number has been called? Find out with this new and exciting tool from G. Reaper Industries!!</p>
                        </div>
                    </section>

                </div>
                <div class="col-4 col-12-medium">
                    <section class="box feature">
                        <a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
                        <div class="inner">
                            <header>
                                <h2>Put something here</h2>
                                <p>Maybe here as well I think</p>
                            </header>
                            <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet
                                bibendum tristique fringilla.</p>
                        </div>
                    </section>

                </div>
                <div class="col-4 col-12-medium">
                    <section class="box feature">
                        <a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
                        <div class="inner">
                            <header>
                                <h2>Put something here</h2>
                                <p>Maybe here as well I think</p>
                            </header>
                            <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet
                                bibendum tristique fringilla.</p>
                        </div>
                    </section>

                </div>

                <div class="col-4 col-12-medium">
                    <section class="box feature">
                        <a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
                        <div class="inner">
                            <header>
                                <h2>Put something here</h2>
                                <p>Maybe here as well I think</p>
                            </header>
                            <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet
                                bibendum tristique fringilla.</p>
                        </div>
                    </section>

                </div>
                <!--
                <div class="col-4 col-12-medium">
                    <section class="box feature">
                        <a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
                        <div class="inner">
                            <header>
                                <h2>Put something here</h2>
                                <p>Maybe here as well I think</p>
                            </header>
                            <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet
                                bibendum tristique fringilla.</p>
                        </div>
                    </section>

                </div>
                <div class="col-4 col-12-medium">


                    <section class="box feature">
                        <a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
                        <div class="inner">
                            <header>
                                <h2>Put something here</h2>
                                <p>Maybe here as well I think</p>
                            </header>
                            <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet
                                bibendum tristique fringilla.</p>
                        </div>
                    </section>

                </div>
                <div class="col-4 col-12-medium">


                    <section class="box feature">
                        <a href="#" class="image featured"><img src="images/pic03.jpg" alt=""/></a>
                        <div class="inner">
                            <header>
                                <h2>Oh, and finally ...</h2>
                                <p>Here's another intriguing subtitle</p>
                            </header>
                            <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet
                                bibendum tristique fringilla.</p>
                        </div>
                    </section>

                </div>
            -->
            </div>
        </div>
    </div>




{% endblock %}